@charset "utf-8";
/* CSS Document */

.big{
	text-align:center;	
	height: 700px;
	width:95%;
	margin-top:10px;
	
	background-attachment:fixed;
}
.pic{
	width:33%;
	height:47%;
	margin-top:3%;
	float:left;
	text-align:center;
	position:relative;
}
.promotion{
	position:absolute;
	top:0;
	left:60%;
	width:38%;
	height:30px;
	line-height:30px;
	-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
	z-index:1;
	background-color:#F00;
	color:#FFF;
	}

.pic img{
	width:65%;
	height:75%;
	z-index:0;
	margin-left:1%;
	
}
p{
	color:#00F;
	font-size:20px;
}
del{
	color:#666;
}
@media screen and (max-width: 768px){
	.big{height:1050px;}
	.pic{width:45%; height:30%; margin-left:4%;}
	.promotion{font-size:14px; }
}
@media screen and (max-width: 425px){
	.pic{width:85%; margin-left:7.5%;}
	.promotion{width:120px; left:110px}
}