@charset "utf-8";
/* CSS Document */

nav{
	background-color:#0CC;
	text-decoration:none;
	height:30px;
	font-size:24px;
	padding-left:2%px;
}
nav a{
	width:15%;
	float:left;
	text-decoration:none;
	margin-left:3%;
	text-align:center;
	line-height:30px;
}

nav a:hover{
	color:#F36;
}
.leftindex{
	width:70%;
	height:720px;
	background-image:url(../images/back2.png);
	float:left;
	margin-bottom:10px;
}
.about{
	height:500px;
	font-size:20px;
	background-image:url(../images/newspaper.jpg);
	padding-right:10%;
	text-align:justify;
	padding-left:5%;
	padding-top:1%;
}
.ourname{
	
	font-style: italic;
	font-size: 24px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:center;
	color:#090;
}
.subtitle{
	color:#03F;
}
.rightindex{
	width:29%;
	height:720px;
	background-color:#6C6;
	float: right;
	margin-bottom:10px;
	font-size:18px;
}
footer{
	padding-top:10px;
	font-size:18px;
	height:150px;
	background-color:#CF6;
	clear:both;
	padding-left:1%;
}
.rightindex a{
	text-decoration:none;
}
.rightindex a:hover{
	color:#00C;
	font-size:18.5px;
}
.rightindex img{
	height:110px;
	width:90%;
	margin-top:5px;
	
}
.rightindex table td{
	
	width:50%;
	padding-right:5px;
}
h3{
	color:#F36;
	text-align:center;
	margin:0;
	height:40px;
	background-color:#3F0;
	line-height:40px;
}
.share{
	float:right;
	width:20%;
	height:30%;
}
.address{
	width:60%;
	float:left;
	padding-top:0;
}
.copyright{
	clear:both;
	text-align:center;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
	background-color:inherit;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}


table input{
	height:30px;
	width:300px;
	background-color:#FFC;
	}

@media screen and (max-width: 768px){
	.leftindex{
		width:100%;
		height:1075px;
	}
	.rightindex{
		width:100%;
	}
	footer{
		height:250px;
	}
	.share{
		width:30%;
	}
	.rightindex img{
	margin-left:17%;
	height:110px;
	width:60%;
	
	}
	.about{
		height:750px;
	}
	
}
@media screen and (max-width: 425px){
	nav{
		font-size:15px
	}
	footer{
		height:220px;
		font-size:15px;
	}
	.leftindex{
		height:1975px;
	}
	.rightindex img{
	margin-left:0;
	width:90%;
	
	}
	.share{
		width:45%;
		height:15%;
	}
	.address{
		width:100%;
	}
	h3{
		line-height:30px;
		height:30px;
	}
	#myBtn {
	bottom: 15px; /* Place the button at the bottom of the page */
    right: 20px;
	}
	header img{
		height:100px;
	}
	table input{
		width:150px;
		height:30px;
	}
	.ourname{
		font-size:22px;
	}
	.subtitle{
		font-size:21px;
	}
	.about{
		
		height:1000px;
	}
}


